@use '@/styles/_responsive.scss' as *;
@use '@/styles/_colors.scss' as c;

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 1.3em;
  border: 2px solid black;
  border-radius: 0.1em;
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgb(0, 0, 0));
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 0% 0%;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  transition:
    background-size 0.15s linear 0.1s,
    color 0.15s linear 0.1s;
}

.button::after {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg, c.$bg-white);
}

// direction
.button {
  &.left {
    background-position: 0% 0%;
    background-size: 0% 100%;
  }

  &.right {
    background-position: 100% 0%;
    background-size: 0% 100%;
  }

  &.top {
    background-position: 0% 0%;
    background-size: 100% 0%;
  }

  &.bottom {
    background-position: 0% 100%;
    background-size: 100% 0%;
  }

  &.center {
    background-position: 50% 50%;
    background-size: 0% 0%;
  }
}

.button:hover,
.button:focus {
  background-size: 100% 100%;
}

// color
.button {
  &.primary {
    color: var(--color-primary, c.$primary);
    border: 2px solid var(--color-primary, c.$primary);
    background-image: linear-gradient(
      0deg,
      var(--color-primary, c.$primary),
      var(--color-primary, c.$primary)
    );

    &:hover,
    &:focus {
      color: white;
    }
  }

  &.black {
    color: var(--color-ft, c.$ft-black);
    border: 2px solid var(--color-ft, c.$ft-black);
    background-image: linear-gradient(
      0deg,
      var(--color-ft, c.$ft-black),
      var(--color-ft, c.$ft-black)
    );

    &:hover,
    &:focus {
      color: var(--color-ft-reverse, c.$ft-white);
    }
  }

  &.white {
    color: var(--color-ft-reverse, c.$ft-white);
    border: 2px solid var(--color-ft-reverse, c.$ft-white);
    background-image: linear-gradient(
      0deg,
      var(--color-ft-reverse, c.$ft-white),
      var(--color-ft-reverse, c.$ft-white)
    );

    &:hover,
    &:focus {
      color: var(--color-ft, c.$ft-black);
    }
  }
}

// size
.button {
  &.lg {
    font-size: 1.8rem;
  }

  &.md {
    font-size: 1.2rem;
  }

  &.sm {
    font-size: 1.2rem;
  }
}

@include tablet {
  .button {
    &.lg {
      font-size: 1.6rem;
    }

    &.md {
      font-size: 1rem;
    }

    &.sm {
      font-size: 0.8rem;
    }
  }
}

@include mobile {
  .button {
    padding: 0.3em 0.8em;

    &.lg {
      font-size: 1rem;
    }

    &.md {
      font-size: 0.8rem;
    }

    &.sm {
      font-size: 0.6rem;
    }
  }
}
