@use '@/styles/_responsive.scss' as *;

.post-list-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  font-size: 1rem;

  > li.dragging {
    opacity: 0.5;
  }
}

@include tablet {
  .post-list-form {
    gap: 1.3em;
  }
}
