.gallery {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  min-height: 100vh;
}

.gallery__navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
