@use '@/styles/_colors.scss' as c;
@use '@/styles/_responsive.scss' as *;

$BACKGROUND_CHANGE_TIME: 0.8s;
$FRAME_COLOR: rgb(44, 5, 5);

.background {
  height: var(--background-height, 530vh);
  position: relative;
}

.main {
  position: sticky;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-color: white;
  background-position: center;
  background-image: url('../../../assets/images/home-section-3/white-wall.webp');
  transition: color 0.4s ease-in;
}

.main__filter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  transition: background-color $BACKGROUND_CHANGE_TIME ease-in;
}

.main__filter.transparent {
  background-color: transparent;
}

.main__circle {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
  mix-blend-mode: multiply;
  circle {
    fill: var(--color-primary, c.$primary);
  }
}

.main__circle svg:first-child {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  transition: all 1s ease-in-out;
}

.main__circle.visible svg:first-child {
  top: -100px;
  left: 100%;
  width: 1200px;
  height: 1200px;
}

.main__circle svg:nth-child(2) {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  transition: all 1s ease-in-out;
  mix-blend-mode: multiply;
}

.main__circle.visible svg:nth-child(2) {
  top: 100%;
  left: 0;
  width: 800px;
  height: 800px;
}

.main__phrase {
  overflow: hidden;
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 3;
  transform: translateY(-50%);
  width: 12em;
  height: 3.5em;
  color: var(--font-color, rgb(255, 93, 52));
  font-size: 4rem;
  font-weight: 800;
  transition: mix-blend-mode $BACKGROUND_CHANGE_TIME ease-in;
  transition: color 0.4s ease-in;
}

.main__phrase > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  transition: transform $BACKGROUND_CHANGE_TIME ease-in-out;
}

.main__phrase.blend {
  mix-blend-mode: difference;
}

.main__phrase.next > div {
  transform: translateY(-100%);
}

.main__phrase p {
  position: relative;
  z-index: 3;
  line-height: 120%;
}

.main__button {
  position: absolute;
  top: calc(50%);
  left: 25%;
  z-index: 4;
  opacity: 0;
  transition: opacity $BACKGROUND_CHANGE_TIME ease-in-out;
  pointer-events: none;
}

.main__button.visible {
  opacity: 1;
  pointer-events: auto;
}

.main__video--container {
  position: absolute;
  z-index: 3;
  top: 150vh;
  right: 20vw;
  width: clamp(190px, 30vw, 310px);
  height: clamp(253px, 40vw, 413px);
  transform: translateY(-50%);
  transform-style: preserve-3d;
  perspective: 2000px;
}

.main__video {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 20000px;
  overflow: hidden;
}

.main__video__src {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  object-fit: cover;
  object-position: 50% 50%;
  transform: translate(-50%, -50%);
}

.main__video__frame {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-105%);
  transform-style: preserve-3d;
  background-color: $FRAME_COLOR;
  perspective: 20000px;
  transition: transform 0.4s ease-in-out;
}

.main__video__frame.visible {
  transform: translateY(0%);
}

.main__video__frame__top {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $FRAME_COLOR;
  transform-origin: top;
  transform: rotateX(-90deg);
}

.main__video__frame__right {
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 100%;
  background-color: $FRAME_COLOR;
  transform-origin: left;
  transform: rotateY(90deg);
}

.main__video__frame__bottom {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $FRAME_COLOR;
  transform-origin: bottom;
  transform: rotateX(90deg);
}

.main__video__frame__left {
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 100%;
  background-color: $FRAME_COLOR;
  transform-origin: right;
  transform: rotateY(-90deg);
}

.main__video__frame__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $FRAME_COLOR;
  transform: translateZ(-50px);
}

.main__video__light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main__video__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7em;
  position: absolute;
  bottom: -6em;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 10em;
  height: 5em;
  border-radius: 2px;
  background-size: cover;
  background-position: center;
  background-image: url('../../../assets/images/home-section-3/white-label.webp');
  box-shadow:
    0.1em 0.1em 0.4em rgba(0, 0, 0, 0.2),
    inset 0.14em 0.14em 0.14em rgb(255, 255, 255),
    inset -0.14em -0.14em 0.14em rgba(0, 0, 0, 0.167);
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  opacity: 0;
  transition: opacity $BACKGROUND_CHANGE_TIME ease-in-out;
}

.main__video__label.visible {
  opacity: 1;
}

.main__video__label > p {
  mix-blend-mode: multiply;
}

.main__video__label > p:first-child {
  font-size: 20px;
}

@include laptop {
  .main__phrase {
    font-size: 3.5rem;
  }
}

@include tablet {
  .main__phrase {
    font-size: 2.5rem;
    top: 30%;
  }

  .main__button {
    top: 42%;
  }

  .main__circle.visible svg:first-child {
    width: 1000px;
    height: 1000px;
  }

  .main__circle.visible svg:nth-child(2) {
    width: 800px;
    height: 800px;
  }

  .main__video__label {
    font-size: 15px;
  }

  .main__video__label > p:first-child {
    font-size: 17px;
  }
}

@include mobile {
  .main__phrase {
    font-size: 1.5rem;
    top: 25%;
  }

  .main__button {
    top: 33%;
    left: 10%;
  }

  .main__circle.visible svg:first-child {
    width: 600px;
    height: 600px;
  }

  .main__circle.visible svg:nth-child(2) {
    width: 400px;
    height: 400px;
  }

  .main__video__label {
    font-size: 11px;
  }

  .main__video__label > p:first-child {
    font-size: 13px;
  }
}
