@use '@/styles/_colors.scss' as c;

.joystick {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
}

.joystick__buttons {
  position: relative;
}

.joystick__controller {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(57, 57, 57, 0.4);

  &--core {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: var(--color-bg, c.$bg-white);
  }
}

.joystick__shoot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 90px;
  bottom: -40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(57, 57, 57, 0.4);

  svg {
    width: 25px;
    height: 25px;
    color: var(--color-bg, c.$bg-white);
  }
}

.joystick__jump {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(57, 57, 57, 0.4);

  svg {
    width: 25px;
    height: 25px;
    color: var(--color-bg, c.$bg-white);
  }
}
