@use '@/styles/_colors.scss' as c;
@use '@/styles/_responsive.scss' as *;

.gallery-create {
  width: clamp(100px, 100%, 800px);
  height: 14em;
  padding: 3em;
  border-radius: 2.5em;
  background-color: var(--color-bg-subtle, c.$bg-gray);
  font-size: 1rem;

  svg {
    width: 3em;
    height: 3em;
    color: var(--color-ft, c.$ft-black);
  }
}

@include tablet {
  .gallery-create {
    font-size: 0.9rem;
  }
}

@include mobile {
  .gallery-create {
    font-size: 0.8rem;
  }
}
