@use '@/styles/_colors.scss' as c;
@use '@/styles/_z-index.scss' as *;

// .modal,
// .modal * {
//   cursor: default !important;
// }

.modal {
  @include z-index(modal);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &__back {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__content {
    overflow: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 10px;
    background-color: var(--color-bg, c.$bg-white);
    transform: translate(-50%, -50%);
  }
}
