@use '@/styles/_colors.scss' as c;
@use '@/styles/_z-index.scss' as *;

.places-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  aspect-ratio: 10/7;

  svg {
    width: 40px;
    height: 40px;
    color: var(--color-ft-subtle, c.$ft-gray);
  }

  svg:hover {
    color: var(--color-ft, c.$ft-black);
  }

  &__left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -20%);
  }

  &__right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -20%);
  }
}

.places-radio__container {
  display: flex;
  position: relative;
  overflow: hidden;
  width: min(70%, 300px);

  label {
    min-width: 100%;
    transition: transform 200ms ease-in-out;
  }

  img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
  }
}

.places-radio__image {
  @include z-index(top);
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;

  svg {
    width: 25px;
    height: 25px;
  }

  img {
    width: 0;
    aspect-ratio: 1/1;
    transition: width 200ms ease-in-out;
  }
}

.places-radio__image:hover img,
.places-radio__image button:focus + img,
.places-radio__image button:hover + img {
  width: min(80%, 500px);
}
