@use '@/styles/_colors.scss' as c;
@use '@/styles/_responsive.scss' as *;

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to top,
    var(--color-primary, c.$primary),
    var(--color-secondary, c.$secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 6rem;
  font-weight: 600;
  line-height: 120%;
}

@include laptop {
  .profile {
    font-size: 5rem;
  }
}

@include tablet {
  .profile {
    font-size: 4rem;
  }
}

@include mobile {
  .profile {
    font-size: 9vw;
  }
}
