$primary: #176beb;
$secondary: #b2d1ff;
$tertiary: #506584;

$ft-black: #111111;
$ft-white: #ffffff;
$ft-red: #ff0000;
$ft-gray: rgba(100, 100, 100, 0.3);

$bg-black: #333333;
$bg-white: #ffffff;
$bg-gray: rgba(125, 125, 125, 0.25);
$bg-red: #b92025;
$bg-orange: #ffbb3c;
