@use './fonts' as *;
@use './colors' as c;

:root {
  --color-primary: #{c.$primary};
  --color-secondary: #{c.$secondary};
  --color-bg: #{c.$bg-white};
  --color-ft: #{c.$ft-black};
  --color-ft-subtle: #{c.$ft-gray};
}

body {
  background-color: var(--color-bg);
  color: var(--color-ft);

  font-family:
    'SCoreDream',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: none;
  padding: none;
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
}
