@use '@/styles/_colors.scss' as c;
@use '@/styles/_responsive.scss' as *;

.textarea {
  position: relative;
  min-width: 15em;
  width: 100%;
  background-color: transparent;
  font-size: 1rem;
  transition: background-color 0.1s ease-in;
}

.textarea textarea {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0em 0.4em 0em;
  margin: 1.7em 0em 0.4em;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  transition: background-color 0.2s ease-in;
}

.textarea:hover {
  background-color: rgba(228, 228, 228, 0.316);
}

.textarea label {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0.6em 0.4em;
  color: var(--color-ft-subtle, c.$ft-gray);
  font-size: 1em;
  font-weight: 600;
  transition: 0.2s;
}

.textarea textarea:focus ~ label,
.textarea textarea:not(:placeholder-shown) ~ label {
  color: var(--color-ft, c.$ft-black);
  font-size: 0.7em;
  font-weight: 600;
  transform: translate(0.1em, 0em);
}

.textarea div {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(100, 100, 100, 0.3);
}

.textarea textarea:focus ~ div,
.textarea textarea:not(:placeholder-shown) ~ div {
  border: none;
  border-bottom: 2px solid var(--color-ft, c.$ft-black);
}

@include mobile {
  .textarea {
    font-size: 0.9rem;
  }
}
