@use '@/styles/_colors.scss' as c;

.textarea {
  font-size: 1rem;
  min-width: 15em;
  position: relative;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.1s ease-in;
}

.textarea textarea {
  width: 100%;
  padding: 0.8em;
  outline: 2px solid rgba(100, 100, 100, 0.3);
  //   outline: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  transition: background-color 0.2s ease-in;
}

.textarea:hover {
  background-color: rgba(228, 228, 228, 0.316);
}

.textarea textarea:focus,
.textarea textarea.fill {
  outline: 2px solid black;
  background-color: white;
}

.textarea label {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.9em 0em;
  padding: 0em 1em;
  color: rgba(100, 100, 100, 0.3);
  font-size: 1em;
  font-weight: 600;
  transition: 0.2s;
}

.textarea textarea:focus ~ label,
.textarea textarea.fill ~ label {
  color: black;
  transform: translate(0.7em, -1.4em);
  padding: 0em 0.4em;
  font-size: 0.7em;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
}
