@use '@/styles/_colors.scss' as c;
@use '@/styles/_responsive.scss' as *;

.gallery-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  transform: translateY(-15px);
}

.gallery-selection__title {
  display: flex;
  gap: 100px;
  max-width: 90%;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  line-height: 150%;
}

.gallery-selection__list {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  align-items: center;
  gap: 100px;
  width: 80%;
  font-size: 1rem;

  li,
  button {
    width: 100%;
  }
}

.gallery-selection__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 600;

  img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
  }
}

@include laptop {
  .gallery-selection__list {
    gap: 70px;
  }

  .gallery-selection__button {
    font-size: 1.5rem;
  }
}

@include tablet {
  .gallery-selection__list {
    width: 90%;
    gap: 50px;
    font-size: 0.9rem;
  }

  .gallery-selection__button {
    font-size: 1.4rem;
  }
}

@include mobile {
  .gallery-selection {
    gap: 50px;
  }
  .gallery-selection__title {
    font-size: 5.7vw;
  }

  .gallery-selection__list {
    width: 85%;
    max-width: 85%;
    grid-template-columns: repeat(auto-fit, 45%);
    gap: 25px;
  }

  .gallery-selection__button {
    font-size: 4.2vw;
  }
}
