@use '@/styles/_colors.scss' as c;
@use '@/styles/_responsive.scss' as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  padding: 3em 1em 2em;
  background-color: var(--color-tertiary, c.$tertiary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: c.$ft-white;
  text-align: center;

  &__icon-text {
    gap: 0.3em;
    display: inline-flex;
    align-items: center;

    svg {
      width: 1.1em;
      height: 1.1em;
    }
  }
}

.footer__license {
  font-size: 1rem;
  width: 500px;
  padding: 1em 2em 2em;

  table {
    font-size: 1em;
    width: 100%;
  }
}

@include mobile {
  .footer {
    font-size: 3vw;
  }

  .footer__license {
    font-size: 3.5vw;
    width: 90vw;
    padding: 0.5em 1em 1em;
  }
}
