@use '@/styles/_animations.scss' as a;

.gallery-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.gallery-list__item {
  opacity: 0;
  transform: translate(100px, 20px);
  transition:
    transform 300ms,
    opacity 300ms;

  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery-list__item.show {
  opacity: 1;
  transform: translate(0, 0);
}
