@use '@/styles/_responsive.scss' as *;
@use '@/styles/_colors.scss' as c;

.gallery-search-item {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 1em 1em;
  border-radius: 0.5em;
  font-size: 1.2rem;
  box-shadow: inset 0 1px 6px -1px #a6bfe2;
  transition: box-shadow 300ms ease-in-out;

  article {
    display: grid;
    grid-template-rows: auto 4em auto;
    gap: 1em;
  }

  h2 {
    font-size: 1.3em;
    font-weight: 600;
  }

  p {
    line-height: 140%;
    overflow: hidden;
  }

  span {
    text-align: end;
    font-style: italic;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }
}

@include laptop {
  .gallery-search-item {
    font-size: 1.1rem;
  }
}

@include tablet {
  .gallery-search-item {
    font-size: 1.1rem;
  }
}

@include mobile {
  .gallery-search-item {
    font-size: 3vw;
    padding: 1.5em;
  }
}
