@use '@/styles/_responsive.scss' as *;
@use '@/styles/_colors.scss' as c;

.gallery-search-item {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  padding: 1em 1em;
  border-radius: 0.5em;
  font-size: 1.2rem;
  box-shadow: 0 0 7px 1px #c7d8f4;
  transition: box-shadow 300ms ease-in-out;

  article {
    display: grid;
    grid-template-rows: auto 4em auto;
    gap: 1em;
    position: relative;
  }

  h2 {
    font-size: 1.3em;
    font-weight: 600;
  }

  p {
    line-height: 140%;
    overflow: hidden;
  }

  span {
    text-align: end;
    font-style: italic;
  }
}

.gallery-search-item:hover,
.gallery-search-item:focus {
  // box-shadow: 0 0 7px 1px rgba(c.$bg-gray, 0.2);

  article::before {
    content: '';
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: var(--diameter);
    height: var(--diameter);
    transform: scale(0);
    background-color: rgba(c.$primary, 0.2);
    border-radius: 50%;
    animation: gallery-search-item-ripple 1500ms linear infinite 400ms;
  }

  article::after {
    content: '';
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: var(--diameter);
    height: var(--diameter);
    transform: scale(0);
    background-color: rgba(c.$primary, 0.2);
    border-radius: 50%;
    animation: gallery-search-item-ripple 1500ms linear infinite;
  }
}

@keyframes gallery-search-item-ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@include laptop {
  .gallery-search-item {
    font-size: 1.1rem;
  }
}

@include tablet {
  .gallery-search-item {
    font-size: 1.1rem;
  }
}

@include mobile {
  .gallery-search-item {
    font-size: 3vw;
    padding: 1.5em;
  }
}
