.gallery-form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 1em 2em;
  font-size: 3rem;

  &__place {
    display: flex;
    gap: 10px;
    overflow: scroll;

    img {
      width: auto;
      height: 100px;
    }
  }
}

.gallery-form svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 200%;
  aspect-ratio: 1/1;
  transform: translateY(-50%);

  path {
    transform: translate(50%, 50%);
  }
}
