@use '@/styles/_colors.scss' as c;
@use '@/styles/_responsive.scss' as *;

.file {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  font-size: 1rem;

  input {
    width: 100%;
    padding: 0.5em 0.5em;
    border-bottom: 2px solid black;
    font: inherit;
    font-size: 1em;
  }

  input::file-selector-button {
    display: none;
  }
}

.file__buttons {
  display: flex;
  gap: 20px;
}

@include mobile {
  .file {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
    font-size: 0.8rem;
  }

  .file__buttons {
    display: flex;
    gap: 15px;
  }
}
