.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0.8;
}

.scroll-down > svg:nth-child(1) {
  width: 3rem;
  height: 3rem;
}

.scroll-down > svg:nth-child(2) {
  animation: animation-scroll-down-arrow ease-in-out 5s infinite;
  width: 2.3rem;
  height: 2.3rem;
}

@keyframes animation-scroll-down-arrow {
  0%,
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-20%);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-20%);
  }
}
