@use '@/styles/_colors.scss' as c;

.locale {
  position: relative;
  display: inline-block;

  .locale__option:nth-child(1) {
    font-weight: 600;
  }

  .locale__option:nth-child(2) {
    font-weight: 400;
  }
}

.locale::after {
  content: '';
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: 47%;
  height: 0.09em;
  border-radius: 1px;
  background-color: var(--color-ft, c.$ft-black);
  transition: transform 0.3s ease-in-out;
}

.locale.white {
  &::after {
    background-color: var(--color-ft-reverse, c.$ft-white);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  }
}

.locale.on {
  .locale__option:nth-child(1) {
    font-weight: 400;
  }

  .locale__option:nth-child(2) {
    font-weight: 600;
  }

  &::after {
    transform: translateX(115%);
  }
}
