@use '@/styles/_z-index.scss' as *;

body * {
  cursor: none;
}

body select {
  cursor: pointer;
}

.cursor {
  @include z-index(cursor);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
  pointer-events: none;
}
