@use '@/styles/_z-index.scss' as *;

// body * {
//   cursor: none !important;
// }

.cursor {
  @include z-index(cursor);
  position: fixed;
  top: 0;
  left: 0;
  will-change: transform;
  transform: translate3d(-100px, -100px, 0);
  pointer-events: none;
  mix-blend-mode: difference;
  cursor: none;
}

.cursor > div {
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #ffffff;
  --cursor-scale: 1;
  transform: scale(var(--cursor-scale));
  transition: transform 150ms ease-in-out;
}
