@use '@/styles/_colors.scss' as c;
@use '@/styles/_responsive.scss' as *;
@use '@/styles/_z-index.scss' as *;

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  overflow: hidden;
  font-size: 1rem;

  &__background {
    // filter: blur(5px);
    @include z-index(base);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(14, 24, 46, 0.2);
    height: 100%;
    width: 100%;
  }
}

.login__form {
  display: grid;
  grid-template-columns: 23em 23em;
  justify-items: center;
  overflow: hidden;
  z-index: 1;
  width: 46em;
  border-radius: 10px;
  background-color: var(--color-bg, c.$bg-white);
}

@include laptop {
  .login {
    font-size: 0.9em;
  }
}

@include tablet {
  .login {
    font-size: 0.8em;
  }
}

@include mobile {
  .login__form {
    width: auto;
    grid-template-columns: 0 1fr;

    > :nth-child(1) {
      width: 0 !important;
      overflow: hidden;
    }
  }
}
