@use '@/styles/_responsive.scss' as *;
@use '@/styles/_z-index.scss' as *;
@use '@/styles/_colors.scss' as c;

.guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  color: var(--ft-color-reverse, c.$ft-white);
  font-size: 1rem;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

  > canvas {
    @include z-index(top-below);
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
  }

  > section {
    @include z-index(top);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
  }

  &--intro {
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    line-height: 150%;
  }
}

.guide__sections {
  @include z-index(top);
  position: relative;
  background-color: transparent;

  > section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 10%;
    background-color: transparent;

    > div {
      width: min(500px, 80%);
    }

    h1 {
      font-size: 2em;
      font-weight: 600;
      line-height: 150%;
    }

    p {
      font-size: 1.5em;
      margin-top: 0.5em;
      line-height: 150%;
    }
  }

  > section:nth-child(odd) {
    align-items: flex-end;
  }

  > section:last-child {
    align-items: center;
    text-align: center;

    h1 {
      font-size: 3rem;
      font-weight: 800;
    }
  }
}

@include tablet {
  .guide {
    text-align: center;
    font-size: 0.9rem;

    &--intro {
      font-size: 3em;
    }
  }

  .guide__sections {
    > section {
      padding: 5vw;
      align-items: center;

      > div {
        width: min(100%);
      }

      h1 {
        font-size: 2em;
      }

      p {
        font-size: 1.5em;
        line-height: 150%;
        margin-top: 0.5em;
      }
    }

    > section:nth-child(odd) {
      align-items: center;
    }

    > section:last-child {
      h1 {
        font-size: 3em;
      }
    }
  }
}

@include mobile {
  .guide {
    font-size: 0.8rem;

    &--intro {
      font-size: 8vw;
    }
  }

  .guide__sections {
    > section {
      padding: 5vw;

      > div {
        width: min(100%);
      }

      h1 {
        font-size: 6vw;
      }

      p {
        font-size: 5vw;
        line-height: 150%;
        margin-top: 0.5em;
      }
    }

    > section:last-child {
      h1 {
        font-size: 8vw;
      }
    }
  }
}
