@import '@/styles/_z-index.scss';
@import '@/styles/_responsive.scss';

.navbar--layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.navbar {
  @include z-index(modal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.6em 1em 0.6em 2em;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease-in-out,
    color 0.2s ease-in-out;
  color: white;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  path {
    stroke: white;
  }
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  font-weight: 800;
}

.navbar__logo svg {
  width: 2.8rem;
  height: 2.8rem;
}

.navbar__menu {
  display: flex;
  gap: 2em;
  font-size: 1.6rem;
  font-weight: 800;
}

.navbar__toggle {
  display: none;
  position: absolute;
  top: 0.6em;
  right: 1em;
  cursor: pointer;

  svg {
    width: 1.7rem;
    height: 1.7rem;
  }
}

@include tablet {
  .navbar__logo {
    font-size: 1.8rem;
  }

  .navbar__logo svg {
    width: 2.6rem;
    height: 2.6rem;
  }

  .navbar__menu {
    font-size: 1.5rem;
  }
}

// 모바일
@include mobile {
  .navbar {
    flex-direction: column;
    padding: 0.6em 1em 0.6em 1em;
    align-items: stretch;
  }

  .navbar__logo {
    font-size: 1.5rem;
  }

  .navbar__logo svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  .navbar__menu {
    font-size: 1.3rem;
  }

  .navbar__toggle {
    display: block;
  }

  .navbar__menu {
    display: grid;
    grid-template-rows: repeat(3, 0fr);
    gap: 0;
    transition:
      grid-template-rows 0.2s ease-in-out,
      opacity 0.2s ease-in-out,
      margin 0.2s ease-in-out;
  }

  .navbar__menu.open {
    gap: 0.6rem;
    margin: 0.5rem 0 0 0;
    grid-template-rows: repeat(3, 1fr);
  }

  .navbar__menu li {
    overflow: hidden;
    text-align: center;
    line-height: 118%;
  }
}
