@use '@/styles/_responsive.scss' as *;

.music {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

.music__bar {
  display: flex;
  justify-content: space-between;
  width: 1.7em;
  height: 0.9em;
  overflow: hidden;

  span {
    width: 0.28em;
    height: 100%;
    transform: translateY(80%);
  }
}

@for $i from 1 through 5 {
  .music__bar > span:nth-child(#{$i}) {
    opacity: #{($i * 8 % 3) * 0.2 + 0.6};
    animation: music-bar-animation #{($i * 9 % 4 + 1) * 0.8}s ease-in-out #{($i * 8 % 3) * 0.1}s infinite;
  }

  .music__bar.stop > span:nth-child(#{$i}) {
    animation-play-state: paused;
  }
}

@keyframes music-bar-animation {
  0% {
    transform: translateY(80%);
  }
  10% {
    transform: translateY(100%);
  }
  60% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(80%);
  }
}

.music.black {
  color: black;

  .music__bar {
    span {
      background-color: black;
    }
  }
}

.music.white {
  color: white;

  .music__bar {
    span {
      background-color: white;
    }
  }
}

@include mobile {
  .music {
    font-size: 3vw;

    svg {
      width: 1.5em;
      height: 1.2em;
    }
  }
}
