@use '@/styles/_responsive.scss' as *;

.container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;

  svg {
    width: 1.8em;
    height: 1.4em;
  }
}

.black {
  color: black;
  path {
    stroke: black;
  }
}

.white {
  color: white;
  path {
    stroke: white;
  }
}

@include mobile {
  .container {
    font-size: 0.8rem;

    svg {
      width: 1.5em;
      height: 1.2em;
    }
  }
}
