@use '@/styles/_colors.scss' as c;
@use '@/styles/_responsive.scss' as *;

.joystick-control-notice {
  background-color: transparent;
  font-size: 1.5rem;

  > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.8em;
  }

  > ul > li {
    display: grid;
    grid-template-columns: 6em 1fr;
    align-items: center;
    gap: 1em;
    white-space: nowrap;
  }

  kbd {
    font-size: 1.2em;
  }
}

.joystick-control-notice__controller {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: rgba(57, 57, 57, 0.4);

  > div {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: var(--color-bg, c.$bg-white);
  }
}

.joystick-control-notice__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: rgba(57, 57, 57, 0.4);

  svg {
    width: 80%;
    height: 80%;
    color: var(--color-bg, c.$bg-white);
  }
}

.joystick-control-notice__shoot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 4em;
  height: 4em;

  span {
    width: 70%;
    aspect-ratio: 8;
    background-color: rgb(169, 169, 169);
    border-radius: 5px;
  }

  span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

@include laptop {
  .joystick-control-notice {
    font-size: 1.4rem;
  }
}

@include tablet {
  .joystick-control-notice {
    font-size: 1.2rem;
  }
}

@include mobile {
  .joystick-control-notice {
    font-size: 3.5vw;
  }
}
