@use '@/styles/_colors.scss' as c;
@use '@/styles/_animations.scss' as a;
@use '@/styles/_responsive.scss' as *;

.gallery-search {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  font-size: 1.5rem;
  overflow: auto;

  .gallery-search__back {
    svg:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      transform: translate(-50%, -50%);
      transition: all 700ms ease-out;
      fill: c.$secondary;
    }

    svg:nth-child(2) {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      transform: translate(50%, -50%);
      transition: all 500ms ease-out 200ms;
      fill: rgb(235, 245, 255);
    }
  }

  .gallery-search__search {
    opacity: 0;
  }

  &--enter {
    .gallery-search__back {
      svg:nth-child(1) {
        width: 300vmax;
        height: 300vmax;
      }

      svg:nth-child(2) {
        width: 300vmax;
        height: 300vmax;
      }
    }

    .gallery-search__search {
      opacity: 1;
    }
  }

  &--leave {
    .gallery-search__back {
      svg:nth-child(1) {
        width: 0;
        height: 0;
      }

      svg:nth-child(2) {
        width: 0;
        height: 0;
      }
    }

    .gallery-search__search {
      opacity: 0;
    }
  }
}

.gallery-search__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  position: fixed;
  top: 2em;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
}

.gallery-search__search-bar {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  width: 18em;

  input[type='text'] {
    font-size: 1.2em;
  }

  select {
    width: 5em;
    font-size: 1em;
  }
}

.gallery-search__close {
  position: fixed;
  top: 1.5em;
  right: 10%;

  span {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.6em;
    height: 0.2em;
    border-radius: 0.2em;
    background-color: var(--color-ft, c.$ft-black);
  }

  span:nth-child(1) {
    transform: rotate(45deg);
  }

  span:nth-child(2) {
    transform: rotate(-45deg);
  }
}

.gallery-search__list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

@include laptop {
  .gallery-search {
    font-size: 1.4rem;
  }
}

@include tablet {
  .gallery-search__close {
    right: 3em;
  }

  .gallery-search {
    font-size: 1.3em;
  }
}

@include mobile {
  .gallery-search__close {
    right: 1em;
  }

  .gallery-search {
    font-size: 4vw;
  }
}
