@use '@/styles/_responsive.scss' as *;

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  overflow: auto;
}

.post__description {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  width: 100%;
  padding: 0 0.5em;

  > h1 {
    margin: 0.5em 0 0 0;
    font-size: 1.1em;
    font-weight: 600;
  }

  > p {
    width: 100%;
    font-size: 1em;
    line-height: 140%;
    white-space: pre-wrap;
  }
}

.post__image {
  width: 95%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@include tablet {
  .post {
    font-size: 0.9rem;
    overflow: visible;
  }

  .post__description {
    padding: 0;
  }

  .post__image {
    width: 98%;
  }
}
