@use '@/styles/_z-index.scss' as *;
@use '@/styles/_responsive.scss' as *;
@use '@/styles/_colors.scss' as c;

.navbar-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(0, 1fr) auto;
  background-color: var(--color-bg, c.$bg-white);
  height: 100%;
  width: 100%;

  > main {
    min-height: calc(var(--vh, 1vh) * 100);
  }
}
