@use '@/styles/_colors.scss' as c;

.a {
  background: linear-gradient(0deg, var(--color-ft, c.$ft-black), var(--color-ft, c.$ft-black)) no-repeat right bottom / 0 1px;
  transition: background-size 350ms;
}

.a:hover,
a:focus {
  background-size: 100% 1px;
  background-position-x: left;
}
