@import '@/styles/_colors.scss';

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em 2em;
  font-size: 1rem;
}

.login-form__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  gap: 0.3em;
  color: $primary-color;
  font-weight: 800;
}

.login-form__logo svg {
  width: 5em;
  height: 5em;
}

.login-form__menu {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2.5em 0 1.5em 0;
}

.login-form__menu__item {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.6em 1.3em;
  border-radius: 2em;
  font-size: 1.05em;
  font-weight: 600;
  box-shadow:
    inset 0.17em 0.17em 0.17em rgba(0, 0, 0, 0.1),
    inset -0.17em -0.17em 0.17em rgba(255, 255, 255, 0.1);
  transition: all 0.15s ease-in;
  cursor: pointer;
}

.login-form__menu__item:hover {
  transform: scale(1.02);

  box-shadow:
    inset -0.17em -0.17em 0.17em rgba(0, 0, 0, 0.1),
    inset 0.17em 0.17em 0.17em rgba(255, 255, 255, 0.1);
}

.login-form__menu__item svg {
  width: 2em;
  height: 2em;
}

.login-form__phrase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  padding: 1em;
  border-top: 2px solid rgb(222, 222, 222);
  color: gray;
}

.login-form__phrase > p:nth-child(1) {
  font-weight: 600;
}

.login-form__phrase > p:nth-child(2) {
  color: gray;
}
