@use '@/styles/_colors.scss' as c;
@use '@/styles/_responsive.scss' as *;

.joystick-control {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  pointer-events: none;
}

.joystick-control__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  max-width: 90vw;
  max-height: calc(var(--vh, 1vh) * 70);
  padding: 4em 4em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-ft-reverse, c.$ft-white);
  pointer-events: auto;
  overflow-y: auto;
}

.joystick-control__container {
  position: relative;
  align-self: flex-end;
  width: 100%;
}

.joystick-control__controller {
  width: 100%;
  padding: 0 min(10%, 3em) min(15%, 5em) min(10%, 3em);
  pointer-events: auto;
}

.joystick-control__buttons {
  display: flex;
  gap: 1.5em;
  position: absolute;
  left: 1em;
  top: 0;
  transform: translateY(-180%);

  button {
    opacity: 0.5;
    pointer-events: auto;
  }

  button.selected {
    opacity: 1;
  }

  svg {
    width: 3em;
    height: 3em;
  }

  path {
    fill: var(--color-ft-reverse, c.$ft-white);
  }
}

@include mobile {
  .joystick-control__buttons {
    flex-direction: column;
    gap: 1em;
    transform: translateY(-100%);
  }
}
