@import '@/styles/_responsive.scss';

.background {
  height: var(--background-height, 400vh);
  position: relative;
}

.main {
  position: sticky;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
  transform-style: preserve-3d;
  background-color: var(--background-color, rgb(122, 200, 219));
  transition: color 0.5s ease-in-out;
}

.main__phrase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  height: 100%;
  color: transparent;
  font-size: 3.2rem;
  text-align: center;
  opacity: 0;
  transition: color 0.4s ease-in;
}

.main__phrase.visible {
  color: var(--font-color, rgb(255, 93, 52));
  font-weight: 800;
  opacity: 1;
}

// https://coder-coder.com/z-index-isnt-working/
.main__phrase > * {
  position: relative;
}

.main__media {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

// https://coder-coder.com/z-index-isnt-working/
.main__media__item {
  position: absolute;
  transform-style: preserve-3d;
  perspective: 500px;
  perspective-origin: top;
}

.main__media__item__card {
  display: flex;
  background-color: var(--background-color, rgb(122, 200, 219));
  border-bottom: 3px solid var(--font-color, rgb(255, 93, 52));

  transform: rotateX(-90deg);
  transform-origin: top;
  transform-style: preserve-3d;
  transition: transform 0.7s ease-in-out;
}

.main__media__item__card.open {
  transform: rotateX(0deg);
}

.media__item__card__blank {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  padding: 1rem 2rem;
  border-top: 3px solid var(--font-color, rgb(255, 93, 52));
  color: var(--font-color, rgb(255, 93, 52));
  font-size: 1.5rem;
  text-align: justify;
}

.media__item__card__blank p {
  margin-bottom: 1rem;
}

.media__item__card__blank span {
  font-size: 3rem;
  float: left;
}

@include laptop {
  .main__phrase {
    font-size: 3rem;
  }

  .media__item__card__blank {
    font-size: 1.3rem;
  }

  .media__item__card__blank span {
    font-size: 2.8rem;
  }
}

@include tablet {
  .main__phrase {
    font-size: 2.5rem;
  }

  .media__item__card__blank {
    font-size: 1.1rem;
  }

  .media__item__card__blank span {
    font-size: 2.5rem;
  }
}

@include mobile {
  .main__phrase {
    font-size: 1.5rem;
  }

  .main__media__item__card {
    border-bottom: 2px solid var(--font-color, rgb(255, 93, 52));
  }

  .media__item__card__blank {
    padding: 0.2rem 0.5rem;
    border-top: 2px solid var(--font-color, rgb(255, 93, 52));
    font-size: 0.2rem;
  }

  .media__item__card__blank span {
    font-size: 1.2rem;
  }
}
