@import '@/styles/_responsive.scss';

.media-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color, rgb(255, 93, 52));
  background-color: var(--background-color, rgb(122, 200, 219));
  transition:
    color var(--transition-time) ease-in-out,
    background-color var(--transition-time) ease-in-out;
}

.media-card__label {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  width: 100%;
  font-size: 1.2rem;
}

@include laptop {
  .media-card__label {
    font-size: 1.1rem;
    padding: 0.7rem 0.8rem;
  }
}

@include tablet {
  .media-card__label {
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
  }
}

@include mobile {
  .media-card__label {
    font-size: 0.8rem;
    padding: 0.5rem 0.3rem;
  }
}
