.mini-map {
  position: relative;
  width: var(--data-width, 200px);
  height: var(--data-width, 200px);
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    filter: contrast(160%) opacity(80%) brightness(1.7);
  }

  svg {
    position: absolute;
    width: 8%;
    height: 8%;
    left: var(--data-x, -8%);
    top: var(--data-y, -8%);
    transform: translate(-50%, -50%) rotate(var(--data-rad, 0));

    path {
      fill: rgb(255, 42, 42);
    }
  }
}
