@use '@/styles/_animations.scss' as a;
@use '@/styles/_responsive.scss' as *;

.my-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  min-height: 100vh;
  margin: 2em auto;
  font-size: 1rem;
}

.my-page__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 0 0 0;
  transform: scale(1.2);
  animation: profile-loaded 1400ms ease-in-out 0ms forwards;
}

@keyframes profile-loaded {
  0% {
    opacity: 0;
    width: 100%;
    height: 88vh;
    margin: 0 0 0 0;
    transform: scale(1.2) translateY(3rem);
  }
  40% {
    opacity: 1;
    width: 100%;
    height: 88vh;
    margin: 0 0 0 0;
    transform: scale(1.2) translateY(0);
  }
  60% {
    opacity: 1;
    width: 100%;
    height: 88vh;
    margin: 0 0 0 0;
    transform: scale(1.2) translateY(0);
  }
  100% {
    opacity: 1;
    width: clamp(200px, 90%, 1200px);
    height: clamp(300px, 30vh, 500px);
    margin: 7em 0 0 0;
    transform: scale(1) translateY(0);
  }
}

.my-page__profile-edit {
  @include a.animation-clear('profile-edit', slow);
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.my-page__line {
  @include a.animation-clear('profile-line', slow);
  display: none;
  width: 80vw;
  height: 15px;
  background-image: radial-gradient(ellipse at 50% 0%, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 70%);
  opacity: 0;
}

.my-page__gallery {
  @include a.animation-slide-in-up('profile-gallery', slow, $distance: 50px);
  display: none;
  width: clamp(400px, 90%, 1200px);
  opacity: 0;
}

@include laptop {
  .my-page {
    font-size: 0.8rem;
  }
}

@include tablet {
  .my-page {
    font-size: 0.7rem;
  }
}

@include mobile {
  .my-page {
    font-size: 0.5rem;
  }

  .my-page__profile {
    font-size: 0.5rem;
  }

  .my-page__gallery {
    width: 90%;
  }
}
