@use '@/styles/_z-index.scss' as *;
@use '@/styles/_colors.scss' as c;
@use '@/styles/_responsive.scss' as *;

.toast {
  overflow: hidden;
  position: relative;
  min-width: 15em;
  padding: 1em;
  border-radius: 5px;
  background-color: var(--color-bg, c.$bg-white);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  cursor: pointer;
}

// color
.toast {
  &.success {
    path {
      fill: c.$primary;
    }

    .toast__progress {
      background-color: c.$primary;
    }
  }

  &.error {
    path {
      fill: c.$bg-red;
    }

    .toast__progress {
      background-color: c.$bg-red;
    }
  }

  &.info {
    path {
      fill: c.$bg-orange;
    }

    .toast__progress {
      background-color: c.$bg-orange;
    }
  }
}

.toast__message {
  display: flex;
  align-items: center;
  gap: 1em;
}

.toast__progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  animation: toast-progress var(--transition-time, 3000) linear forwards;
}

@keyframes toast-progress {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@include tablet {
  .toast {
    font-size: 0.9rem;
  }
}

@include mobile {
  .toast {
    font-size: 0.8rem;
  }
}
