@use '@/styles/_responsive.scss' as *;

.post-detail {
  display: grid;
  grid-template-columns: repeat(2, min(35vw, 400px));
  grid-template-rows: minmax(0, 1fr);
  gap: 1em;
  height: 100%;
  max-height: calc(var(--vh, 1vh) * 70);
  padding: 1em 1em 1em 0.6em;
  font-size: 1rem;
  overflow: auto;
}

@include mobile {
  .post-detail {
    width: min(800px, 85vw);
    max-height: calc(var(--vh, 1vh) * 83);
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(2, max-content);
    padding: 0.8em 0.6em;
    gap: 1em;
    overflow: auto;
  }
}
