@use '@/styles/_responsive.scss' as *;

.post-detail {
  display: grid;
  grid-template-columns: repeat(2, min(35vw, 400px));
  grid-template-rows: minmax(0, 1fr);
  gap: 1em;
  height: 100%;
  padding: 1em 1em 1em 0.6em;
  font-size: 1rem;
}

@include mobile {
  .post-detail {
    width: min(800px, 90vw);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    padding: 1.2em 0.8em;
    gap: 2em;
  }
}
