.markdown {
  line-height: 1.5;
}

.markdown h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 1.2em;
}

.markdown h2 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 1.1em;
}

.markdown h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 0.8em;
}

.markdown p {
  margin-top: 0.5em;
}

.markdown ul,
.markdown ol {
  margin-top: 0.5em;
  padding-left: 1.2em;
}

.markdown li {
  margin-bottom: 0.5em;
  list-style-type: disc;

  > li {
    list-style-type: circle;
  }
}

.markdown a {
  color: #025fc3;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown code {
  font-family: Consolas, monospace;
  background-color: #f8f8f8;
  padding: 2px 4px;
  border-radius: 4px;
}

.markdown pre {
  font-family: Consolas, monospace;
  background-color: #f8f8f8;
  padding: 12px;
  border-radius: 4px;
  overflow-x: auto;
}

.markdown blockquote {
  margin-left: 0;
  padding-left: 16px;
  border-left: 4px solid #ccc;
  color: #777;
}

.markdown hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 24px 0;
}
