@use '@/styles/_responsive.scss' as *;

.portfolio-detail {
  display: grid;
  grid-template-columns: repeat(2, min(35vw, 400px));
  grid-template-rows: minmax(0, 1fr);
  gap: 1em;
  overflow: auto;
  height: 100%;
  max-height: calc(var(--vh, 1vh) * 75);
  padding: 0.7em 1.2em 1.7em 0.8em;
  font-size: 1rem;
  font-family: 'GowunDodum-Regular';
}

.portfolio-detail__summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  width: 100%;
  height: 100%;
  overflow: auto;

  > img {
    width: 95%;
    margin-top: 1em;
    aspect-ratio: 1/1;
    object-fit: cover;
    align-self: center;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    width: 100%;
    padding: 0 0.5em;

    > h1 {
      margin: 0.5em 0 0 0;
      font-size: 1.3em;
      font-weight: 600;
    }
  }
}

.portfolio-detail__detail {
  padding: 0 0.5em;
  overflow: auto;
}

@include mobile {
  .portfolio-detail {
    width: min(800px, 85vw);
    height: calc(var(--vh, 1vh) * 83);
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(2, max-content);
    padding: 0.5em 0.6em 1.2em 0.6em;
    overflow: auto;
    font-size: 0.9rem;
  }

  .portfolio-detail__summary {
    overflow: visible;

    > img {
      width: 98%;
      margin-top: 0.5em;
    }
  }
}
