@use '@/styles/_colors.scss' as c;

.text {
  font-size: 1rem;
  min-width: 15em;
  position: relative;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.1s ease-in;
}

.text input {
  font-size: 1em;
  max-width: 100%;
  padding: 0.8em;
  border-bottom: 2px solid rgba(100, 100, 100, 0.3);
  outline: none;
  background-color: transparent;
  font-weight: 600;
  transition: background-color 0.2s ease-in;
}

.text:hover {
  background-color: rgba(228, 228, 228, 0.316);
}

.text input:focus,
.text input.fill {
  border-bottom: 2px solid rgba(100, 100, 100, 0.3);
  background-color: white;
}

.text label {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.9em 0em;
  padding: 0em 1em;
  color: rgba(100, 100, 100, 0.3);
  font-size: 1em;
  font-weight: 600;
  transition: 0.2s;
}

.text input:focus ~ label,
.text input.fill ~ label {
  color: black;
  transform: translate(0.7em, -1.4em);
  padding: 0em 0.4em;
  font-size: 0.7em;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
}
