@use '@/styles/_colors.scss' as c;
@use '@/styles/_responsive.scss' as *;

.control-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  transform: translateY(-15px);
}

.control-selection__title {
  display: flex;
  gap: 100px;
  max-width: 90%;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  line-height: 150%;
}

.control-selection__list {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  align-items: center;
  justify-content: space-between;
  width: 60%;
  font-size: 1rem;

  li,
  button {
    width: 100%;
  }
}

.control-selection__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 50px 20px;
  font-size: 1.5rem;
  font-weight: 600;

  svg {
    width: 40%;
    height: 40%;
    object-fit: contain;
    aspect-ratio: 1/1;
  }
}

@include laptop {
  .control-selection__list {
    width: 70%;
  }

  .control-selection__button {
    font-size: 1.5rem;
  }
}

@include tablet {
  .control-selection__list {
    width: 80%;
    font-size: 0.9rem;
  }

  .control-selection__button {
    font-size: 1.4rem;
  }
}

@include mobile {
  .control-selection {
    gap: 50px;
  }

  .control-selection__title {
    font-size: 5.7vw;
  }

  .control-selection__list {
    width: 85%;
    max-width: 85%;
    grid-template-columns: repeat(auto-fit, 45%);
    gap: 25px;
  }

  .control-selection__button {
    font-size: 4.2vw;
  }
}
