@import '@/styles/_responsive.scss';
@import '@/styles/_animations.scss';

.background {
  height: 200vh;
}

.main {
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  perspective: 2800px;
  transform-style: preserve-3d;
}

.main__loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: opacity var(--fade-time) ease-out;
}

.main__gradient-fade {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 40%,
    var(--background-color, rgb(122, 200, 219)) 90%,
    var(--background-color, rgb(122, 200, 219)) 100%
  );
  opacity: 0;
}

.main__scroll-down {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

.main__inter {
  position: relative;
  width: 100%;
  height: 100%;
}

.main__inter > * {
  transition: transform 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.main__inter__sky {
  position: absolute;
  width: 120%;
  height: auto;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  will-change: transform;
  transform: translate3d(-50%, -50%, 0);
}

.main__inter__cloud1 {
  position: absolute;
  width: 80%;
  height: auto;
  top: calc(50% - 40%);
  right: auto;
  bottom: auto;
  left: calc(90%);
  will-change: transform;
  transform: translate3d(-50%, -50%, 0);
}

.main__inter__cloud1 img {
  width: 100%;
  height: 100%;
  @include animation-flowing-horizon(
    'cloud1',
    $speed: 73s,
    $start: 100%,
    $end: -200%,
    $delay: -25s
  );
}

.main__inter__cloud2 {
  position: absolute;
  width: 80%;
  height: auto;
  top: calc(50% - 40%);
  right: auto;
  bottom: auto;
  left: calc(20%);
  will-change: transform;
  transform: translate3d(-50%, -50%, 0);
}

.main__inter__cloud2 img {
  width: 100%;
  height: 100%;
  @include animation-flowing-horizon(
    'cloud2',
    $speed: 56s,
    $start: 200%,
    $end: -100%,
    $delay: -39s
  );
}

.main__inter__cloud3 {
  position: absolute;
  width: 40%;
  height: auto;
  top: calc(50% - 10%);
  right: auto;
  bottom: auto;
  left: calc(70%);
  will-change: transform;
  transform: translate3d(-50%, -50%, 0);
}

.main__inter__cloud3 img {
  width: 100%;
  height: 100%;
  @include animation-flowing-horizon(
    'cloud3',
    $speed: 89s,
    $start: 150%,
    $end: -200%,
    $delay: -46s
  );
}

.main__inter__island {
  position: absolute;
  width: 35%;
  height: auto;
  top: calc(50% + 1%);
  right: auto;
  bottom: auto;
  left: calc(50% + 40%);
  will-change: transform;
  transform: translate3d(-50%, -50%, 0);
}

.main__inter__ocean {
  position: absolute;
  width: 120%;
  height: 60%;
  top: calc(50% + 37%);
  right: auto;
  bottom: auto;
  left: calc(50%);
  will-change: transform;
  transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
}

.main__inter__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  margin: auto;
  top: calc(50%);
  right: auto;
  bottom: auto;
  left: calc(50% - 15%);
  will-change: transform;
  transform: translate3d(-50%, -50%, 0);
  color: white;
  font-size: 10vw;
  font-weight: 700;
  text-align: center;
}

.main__inter__logo__preposition {
  font-size: 3.5vw;
  text-align: left;
  align-self: flex-start;
}

.main__inter__architect {
  position: absolute;
  width: 130%;
  height: auto;
  top: calc(50% + 40%);
  right: auto;
  bottom: auto;
  left: calc(50%);
  will-change: transform;
  transform: translate3d(-50%, -50%, 0);
}

// 1280px
@include laptop {
  .main__inter__sky {
    width: 1500px;
  }

  .main__inter__cloud1 {
    width: 920px;
    top: calc(50% - 300px);
    right: auto;
    bottom: auto;
    left: calc(50% + 500px);
  }

  .main__inter__cloud2 {
    width: 920px;
    top: calc(50% - 300px);
    right: auto;
    bottom: auto;
    left: calc(50% - 400px);
  }

  .main__inter__cloud3 {
    width: 500px;
    top: calc(50% - 100px);
    right: auto;
    bottom: auto;
    left: calc(50% + 220px);
  }

  .main__inter__island {
    width: 360px;
    top: calc(50% + 60px);
    right: auto;
    bottom: auto;
    left: calc(50% + 480px);
  }

  .main__inter__ocean {
    width: 1500px;
    top: calc(50% + 310px);
    right: auto;
    bottom: auto;
    left: calc(50%);
  }

  .main__inter__logo {
    top: calc(50% + 40px);
    right: auto;
    bottom: auto;
    left: calc(50% - 100px);
    color: white;
    font-size: 7.5rem;
  }

  .main__inter__logo__preposition {
    font-size: 2.7rem;
  }

  .main__inter__architect {
    width: 1500px;
    top: calc(50% + 300px);
    right: auto;
    bottom: auto;
    left: calc(50%);
  }
}

// 992px
// stick to the edges & depend on vh unit
@include tablet {
  .main__inter__sky {
    height: 100%;
  }

  .main__inter__cloud1 {
    width: 700px;
    top: calc(60px + 9vh);
    right: calc(-600px);
    bottom: auto;
    left: auto;
  }

  .main__inter__cloud2 {
    width: 700px;
    top: calc(-180px + 50vh);
    right: auto;
    bottom: auto;
    left: calc(80px);
  }

  .main__inter__cloud3 {
    width: 400px;
    top: calc(-200px + 76vh);
    right: calc(-200px);
    bottom: auto;
    left: auto;
  }

  .main__inter__island {
    width: 400px;
    top: auto;
    right: auto;
    bottom: calc(130px + 10vh);
    left: calc(50% + 270px);
  }

  .main__inter__ocean {
    width: 1100px;
    top: auto;
    right: auto;
    bottom: calc(200px - 80vh);
    left: calc(50%);
  }

  .main__inter__logo {
    top: auto;
    right: auto;
    bottom: calc(-120px + 40vh);
    left: calc(50% - 100px);
    font-size: 6rem;
  }

  .main__inter__logo__preposition {
    font-size: 2.5rem;
  }

  .main__inter__architect {
    width: 1100px;
    top: auto;
    right: auto;
    bottom: calc(-100px - 9vh);
    left: calc(50%);
  }
}

// 640px
// stick to the edges & depend on vh unit
@include mobile {
  .main__inter__sky {
    height: 100%;
  }

  .main__inter__cloud1 {
    width: 400px;
    top: calc(60px + 9vh);
    right: calc(-240px);
    bottom: auto;
    left: auto;
  }

  .main__inter__cloud2 {
    width: 400px;
    top: calc(-150px + 55vh);
    right: auto;
    bottom: auto;
    left: calc(80px);
  }

  .main__inter__cloud3 {
    width: 300px;
    top: calc(-200px + 80vh);
    right: calc(-220px);
    bottom: auto;
    left: auto;
  }

  .main__inter__island {
    width: 280px;
    top: auto;
    right: auto;
    bottom: calc(30px + 20vh);
    left: calc(50% + 200px);
  }

  .main__inter__ocean {
    width: 800px;
    top: auto;
    right: auto;
    bottom: calc(80px - 70vh);
    left: calc(50%);
  }

  .main__inter__logo {
    top: auto;
    right: auto;
    bottom: calc(-100px + 40vh);
    left: calc(50% - 40px);
    font-size: 4rem;
  }

  .main__inter__logo__preposition {
    font-size: 2rem;
  }

  .main__inter__architect {
    width: 800px;
    top: auto;
    right: auto;
    bottom: calc(-60px - 10vh);
    left: calc(50%);
  }
}
