@use '@/styles/_responsive.scss' as *;
@use '@/styles/_animations.scss' as a;
@use '@/styles/_colors.scss' as c;
@use '@/styles/_z-index.scss' as *;

.hs1-back {
  height: var(--height-back, 200vh);
  min-height: var(--min-height-back, 1200px);
  position: relative;
}

.hs1-main {
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  min-height: 600px;
}

.hs1-fade {
  @include z-index(top);
  position: absolute;
  width: 100%;
  height: 130%;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 40%,
    var(--background-color, rgb(122, 200, 219)) 90%,
    var(--background-color, rgb(122, 200, 219)) 100%
  );
  opacity: 0;
  transform: translateY(0);
  transition:
    opacity 800ms cubic-bezier(0.2, 0.49, 0.32, 0.99),
    transform 1200ms ease-in-out;

  &.fade {
    opacity: 1;
    transform: translateY(-15%);
  }
}

.hs1-scroll {
  @include z-index(top-below);
  position: absolute;
  left: 50%;
  bottom: 6%;
  transform: translateX(-50%);
}

.hs1-interact {
  position: relative;
  width: 100%;
  height: 100%;

  & > * {
    transition: transform 450ms cubic-bezier(0.2, 0.49, 0.32, 0.99);
  }

  &__sky {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__cloud-1 {
    position: absolute;
    width: 65%;
    top: calc(50% - 44%);
    left: calc(90%);
    transform: translate(-50%, -50%);

    img {
      @include a.animation-flowing-horizon(
        'hs1-cloud-1',
        $speed: 113s,
        $start: 100%,
        $end: -180%,
        $delay: -25s
      );
    }
  }

  &__cloud-2 {
    position: absolute;
    width: 65%;
    top: calc(50% - 31%);
    left: calc(20%);
    transform: translate(-50%, -50%);

    img {
      @include a.animation-flowing-horizon(
        'hs1-cloud-2',
        $speed: 120s,
        $start: 190%,
        $end: -90%,
        $delay: -73s
      );
    }
  }

  &__cloud-3 {
    position: absolute;
    width: 35%;
    top: calc(50% - 10%);
    left: calc(70%);
    transform: translate(-50%, -50%);

    img {
      @include a.animation-flowing-horizon(
        'hs1-cloud-3',
        $speed: 130s,
        $start: 150%,
        $end: -250%,
        $delay: -46s
      );
    }
  }

  &__island {
    position: absolute;
    width: 40%;
    top: calc(50% + 3%);
    left: calc(50% + 40%);
    transform: translate(-50%, -50%);
  }

  &__ocean {
    position: absolute;
    width: 120%;
    top: calc(50% + 32%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  &__ocean-filter {
    position: relative;
    transform: translateY(-10px);

    img {
      filter: url('#ocean-filter');
    }

    svg {
      position: absolute;
      width: 0;
      left: 0;
    }
  }

  &__ocean-filter::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      rgba(10, 18, 90, 0.114),
      rgba(9, 9, 69, 0.064) 5%,
      rgba(255, 255, 255, 0) 9%
    );
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: calc(50%);
    left: calc(50% - 15%);
    transform: translate(-50%, -50%);
    color: c.$ft-white;
    font-size: 10vw;
    font-weight: 700;
    opacity: 0;

    span:nth-child(1) {
      font-size: 0.7em;
    }
  }

  &__gallery {
    position: absolute;
    width: 120%;
    top: calc(50% + 43%);
    left: calc(50%);
    transform: translate(-50%, -50%);
  }
}

.hs1-cover {
  @include z-index(top);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition:
    opacity var(--fade-time) ease-out,
    transform var(--fade-time) ease-out;
  background-color: white;
  mix-blend-mode: screen;

  &__phrase {
    @include a.animation-slide-in-up('transition', slow, 50px);
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 10vw;

    h1 {
      color: rgb(0, 0, 0);
      font-size: 1em;
      font-weight: 800;
      margin-top: 0.4em;
      margin-bottom: 0.4em;
    }

    h2 {
      color: rgb(0, 0, 0);
      font-size: 0.3em;
      font-weight: 600;
    }
  }
}

.hs1-cover.hide {
  animation: hide-hs1-cover 1s ease-in forwards;
}

@keyframes hide-hs1-cover {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  83% {
    opacity: 1;
    transform: scale(10);
  }
  100% {
    opacity: 0;
    transform: scale(12);
    display: none;
  }
}

@media all and (max-aspect-ratio: 4/3) {
  .hs1-interact {
    &__cloud-1 {
      width: 70%;
      top: calc(50% - 30%);
      left: calc(90%);
    }

    &__cloud-2 {
      width: 70%;
      top: calc(50% - 20%);
      left: calc(20%);
    }

    &__cloud-3 {
      width: 40%;
      top: calc(50% - 0%);
      left: calc(70%);
    }

    &__island {
      width: 40%;
      top: calc(50% + 12%);
      left: calc(50% + 40%);
    }

    &__ocean {
      width: 140%;
      top: calc(50% + 33%);
      left: calc(50%);
    }

    &__logo {
      top: calc(50% + 5%);
      left: calc(50% - 15%);
      font-size: 12vw;
    }

    &__gallery {
      width: 140%;
      height: auto;
      top: calc(50% + 43%);
      left: calc(50%);
    }
  }

  .hs1-cover {
    &__phrase {
      font-size: 11vw;

      h2 {
        font-size: 0.4em;
      }
    }
  }
}

@media all and (max-aspect-ratio: 3/4) {
  .hs1-interact {
    &__cloud-1 {
      width: 75%;
      top: calc(50% - 30%);
      left: calc(90%);
    }

    &__cloud-2 {
      width: 75%;
      top: calc(50% - 20%);
      left: calc(20%);
    }

    &__cloud-3 {
      width: 50%;
      top: calc(50% - 0%);
      left: calc(70%);
    }

    &__island {
      width: 80%;
      top: calc(50% + 16%);
      left: calc(50% + 40%);
    }

    &__ocean {
      width: 150%;
      top: calc(50% + 33%);
      left: calc(50%);
    }

    &__logo {
      top: calc(50% + 12%);
      left: calc(50% - 15%);
      font-size: 15vw;
    }

    &__gallery {
      width: 200%;
      top: calc(50% + 45%);
      left: calc(50%);
    }
  }

  .hs1-cover {
    &__phrase {
      font-size: 12vw;

      h1 {
        margin-top: 0.6em;
        margin-bottom: 0.5em;
      }

      h2 {
        font-size: 0.4em;
      }
    }
  }
}

@media all and (max-aspect-ratio: 9/16) {
  .hs1-interact {
    &__cloud-1 {
      width: 110%;
      top: calc(50% - 35%);
      left: calc(90%);
    }

    &__cloud-2 {
      width: 110%;
      top: calc(50% - 10%);
      left: calc(20%);
    }

    &__cloud-3 {
      width: 70%;
      top: calc(50% + 10%);
      left: calc(70%);
    }

    &__island {
      width: 110%;
      top: calc(50% + 15%);
      left: calc(50% + 40%);
    }

    &__ocean {
      width: 200%;
      top: calc(50% + 30%);
      left: calc(50%);
    }

    &__logo {
      top: calc(50% + 13%);
      left: calc(50% - 15%);
      font-size: 18vw;
    }

    &__gallery {
      width: 300%;
      top: calc(50% + 45%);
      left: calc(50%);
    }
  }

  .hs1-cover {
    &__phrase {
      font-size: 14vw;

      h1 {
        margin-top: 0.9em;
        margin-bottom: 0.7em;
      }

      h2 {
        font-size: 0.4em;
      }
    }
  }
}
