.home-section-1 {
  height: 500vh;
}

.home-section-1__main {
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  min-width: 1024px;
  perspective: 2800px;
  transform-style: preserve-3d;
}

.home-section-1__main .vignette {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    ellipse at center,
    rgb(0, 0, 0, 0) 65%,
    rgb(0, 0, 0, 0.7)
  );
}

.home-section-1__sky-img {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
}

.home-section-1__forest-img {
  position: absolute;
  width: 110%;
  bottom: 210px;
  left: -5%;
}

.home-section-1__gallery-logo {
  position: absolute;
  width: 120%;
  bottom: 280px;
  left: -20%;
  color: white;
  font-size: 9rem;
  font-weight: 700;
  text-align: center;
}

.home-section-1__architecture-img {
  position: absolute;
  width: 100%;
  bottom: 100px;
  left: 10%;
}

.home-section-1__reflection-img {
  position: absolute;
  width: 100%;
  bottom: -330px;
  left: 10%;
}

.home-section-1__left-tree-img {
  position: absolute;
  width: 600px;
  top: -50px;
  left: -50px;
  transform: translate(-50%, -50%);
}

.home-section-1__right-tree-img {
  position: absolute;
  width: 900px;
  top: -50px;
  right: -50px;
  transform: translate(-50%, -50%);
}
